/****** Main Styling ******/

body {
  font-family: sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
}

.container {
	padding: 0;
  width: 700px;
  margin: auto;
	margin-top: 60px;
}

.footer {
	margin-top: 60px;
}

code, .codeBlock {
  font-family: 'Source Code Pro', monospace;
  background-color: #f7fcdd;
  border-left: 1px solid #6adc98;
  padding-left: 10px;
}
h1 {
  font-family: fantasy;
}
h4 {
  margin: 0px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}